extends base.pug


block content
    form(method='post', action='software', enctype='multipart/form-data')
        .form-group
            label.col-form-label(for='a') Nom
            input#a.form-control(type='text', placeholder : ='Default input', name="uLastName")

        .form-group
            label.col-form-label(for='b') Description
            input#b.form-control(type='text', placeholder='Default input', name="uFirstName" )

        .form-group
            label.col-form-label(for='c') Date de début
            input#c.form-control(type='text', placeholder='Default input', name="uMail")

            button.btn.btn-success(type='submit') Success