extends base.pug
block content
    a.btn.btn-primary(href="/addtestbycat") Saisir un test par Campagne

    hr
    - if(testslist)
        table#dataTable.table.table-striped
            thead
                tr
                    th Description du test
                    th Statut du test
                    th Catégorie du test
                    th
            each test in testslist
                tr
                    td=test.tDescription
                    td=test.statut
                    td=test.catLabel
                    td
                        a.btn.btn-primary(href="/addissue/"+test.tId) Saisir annomalie
    .card.shadow.mb-4
        .card-header.py-3
            h6.m-0.font-weight-bold.text-primary Graphique n°1
        .card-body
            .text-center
                <iframe width="1" height="1" src="https://app.powerbi.com/view?r=eyJrIjoiNGIxYmQwODQtOGMyZS00YjRiLWFmNWYtZDg0OGI2N2RlODNlIiwidCI6ImIzMjNiY2I0LTZkNTgtNGYyNS04N2JmLTYzNjZjM2Q2ODlhZiIsImMiOjh9" frameborder="0" allowFullScreen="true"></iframe>

    .card.shadow.mb-4
        .card-header.py-3
            h6.m-0.font-weight-bold.text-primary Graphique n°2
        .card-body
            .text-center
                <iframe width="1" height="1" src="https://app.powerbi.com/view?r=eyJrIjoiZDQ3MjY5ZTktM2ZjYi00M2VkLThkOTQtNDVhY2Q4OTMzYmExIiwidCI6ImIzMjNiY2I0LTZkNTgtNGYyNS04N2JmLTYzNjZjM2Q2ODlhZiIsImMiOjh9" frameborder="0" allowFullScreen="true"></iframe>
