extends base.pug

block content
    <iframe width="800" height="600" src="https://app.powerbi.coNlIiwidCI6ImIzMjNiY2I0LTZkNTgtNGYyNS04N2JmLTYzNjZjM2Q2ODlhZiIsImMiOjh9" frameborder="0" allowFullScreen="true"></iframe>m/view?r=eyJrIjoiNGIxYmQwODQtOGMyZS00YjRiLWFmNWYtZDg0OGI2N2RlOD