extends base.pug

block content

    a.btn.btn-outline-lightnav-link(href='addtester')
        i.fas.fa-fw.fa-bus-alt
        span Ajouter un testeur
    table#dataTable.table.table-striped
        thead
            tr
                th Nom
                th Prénom
                th Email
                th Modifier

        each n in rows
            tr
                td= n.uLastName
                td= n.uFirstName
                td= n.uMail
                td
                    a.btn.btn-outline-primary(href="/tester/" + n.uId) Modifier
