extends base.pug

block content

    table.table.table-striped
        tr
            th Nom
            th Description
            th Date de début
            th Modifier

        each n in rows
            tr
                td= n.tDescription
                td= n.tDateCreation
                td= n.duration
                td
                    a.btn.btn-outline-primary(href="/testdetails/" + n.tId) Détails





