extends base.pug

block content

    a.btn.btn-outline-lightnav-link(href='add_test_category')
        i.fas.fa-fw.fa-plus-circle
        span Ajouter une catégorie de test
    table#dataTable.table.table-striped
        thead
            tr
                th Libellé
                th Modifier

        each n in rows
            tr
                td= n.catLabel
                td
                    button.btn.btn-outline-primary(onclick="location.href='/test_category/" + n.uId + "'" , type='button')
                        | Modifier