extends base.pug

block content

    table.table.table-striped
        tr
            th Nom
            th Prénom
            th Email
            th Modifier

        each n in rows
            tr
                td= n.uLastName
                td= n.uFirstName
                td= n.uMail
                td
                    button( ng-click='local.points = local.points + 10') Up




