extends base.pug

block content

    a.nav-link(href='addtester')
        i.fas.fa-fw.fa-bus-alt
        span Ajouter un testeur
    table.table.table-striped
        tr
            th Nom
            th Prénom
            th Email
            th Modifier

        each n in rows
            tr
                td= n.uLastName
                td= n.uFirstName
                td= n.uMail
                td
                    button(onclick="location.href='/'", type='button')
                        | Modifier




