extends base.pug

block content
    a.nav-link(href='addsoftware')
        i.fas.fa-fw.fa-bus-alt
        span Ajouter un logiciel
    table#dataTable.table.table-striped
        thead
            tr
                th Nom
                th Description
                th Date de début
                th Modifier
                th Releases
        each n in rows
            tr
                td= n.sName
                td= n.sDescription
                td= n.sEntryDate
                td
                    button.btn.btn-outline-primary(onclick="location.href='/software/" + n.sId + "'", type='button')
                        | Modifier
                td
                    a.btn.btn-outline-warning(href="/softwarerelease/" + n.sId )
                        | Releases
